div#sidebarBtn{
	display: none !important;
}

section.event{

	ul{
		width: 100% !important;
		min-width: 640px !important;

		li{

			li#create{
				position: relative;
				color: red;
			}
		}
	}
}

.main{

	.eventSlider{
		display: inline-block;

		article{
			clear: left;
		}
	}
}

.friends{

	.eventSlider{

		article{
			clear: left;
			width: 100%;
		}		
	}
}

div.eventSlider{
	width: 100% !important;
}

section.city.active{
	width: 100%;
	
	article{
		width: 100% !important;
	}
}

#berlin{
	section.cityIntro{
		background: url('../img/berlin.jpg');
	}
}

#paris{
	section.cityIntro{
		background: url('../img/paris.jpg');
	}
}

#london{
	section.cityIntro{
		background: url('../img/london.jpg');
	}
}

#newyork{
	section.cityIntro{
		background: url('../img/NY.jpg');
	}
}

.weeklyartist{
    // background: url('../img/back_artist.jpg') no-repeat;
    // background-color: rgba(0,0,0,1);
    background: #000;
    height: 1000px;
    width: 100%;
    background-size: 100%;

	img.avatar{
        border: 5px solid #fff;
		border-radius: 110px;
		margin: 0 auto;
    }

	.onHover{

		max-width: 890px;
		padding-left: 230px;
		padding-right: 200px;
            
		h3{
			clear: left;		
			font-weight: 300;
			font-size: 1.5em;
			margin-left: -170px;
			padding-top: 20px;
        }

		p{
			width: 400px;

			margin-left: -310px;
		}

		#social{
			color: #f39c12;
			position: absolute;
			left: 50%;
			margin-left: -170px;
			margin-top: 20px;

                ul{
					color: #fff;
					margin: 0;
					padding: 0;
					margin-left: 130px;
					margin-top: -33px;

					li{
						float: left;
						margin-right: 6px;
					}
				}
		}
    }
}