div#sidebarBtn{
	display: none !important;
}

section.event{

	ul{
		width: 100% !important;
		min-width: 640px !important;

		li{

			li#create{
				position: relative;
				color: red;
			}
		}
	}
}

.main{

	.eventSlider{
		display: inline-block;

		article{
			clear: left;
		}
	}
}

.friends{

	.eventSlider{

		article{
			clear: left;
			width: 100%;
		}		
	}
}

div.eventSlider{
	width: 100% !important;
}

section.city.active{
	width: 100%;
	
	article{
		width: 100% !important;
	}
}

#berlin{
	section.cityIntro{
		background: url('../img/berlin.jpg');
	}
}

#paris{
	section.cityIntro{
		background: url('../img/paris.jpg');
	}
}

#london{
	section.cityIntro{
		background: url('../img/london.jpg');
	}
}

#newyork{
	section.cityIntro{
		background: url('../img/NY.jpg');
	}
}