/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Font Face
   ========================================================================== */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/**** Helper class ****/
.transition {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hidden {
  visibility: hidden;
  display: none;
  opacity: 0;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-size: 100%;
  color: white;
  line-height: 1.5;
}
body > section {
  display: block;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body > section h2,
body > section h3 {
  margin-top: 0;
}
/**  HEADER  **/
header {
  display: block;
  width: 100%;
  height: 0px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.3em;
  clear: both;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 9999;
}
header h1 {
  margin: 0;
  display: inline-block;
  vertical-align: baseline;
  text-align: left;
  font-size: 1em;
  margin-left: 20px;
  padding-top: 10px;
  height: 75px;
  padding-left: 50px;
  background: url('../img/logo.png') no-repeat 0 12px;
  position: relative;
}
header h1 a {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}
header h1 a span {
  display: block;
  letter-spacing: 6px;
  line-height: 15px;
}
header > a {
  float: right;
  margin-right: 20px;
  line-height: 75px;
  text-decoration: none;
  font-size: .8em;
  color: white;
}
/** SECTION SINGLE EVENT  **/section.single-event {
  background: url('images/paris/events/event-1/flickr.jpg');
  color: blue;
  display: inline-block;
}
.titre_event {
  margin-left: 7%;
  color: #f39c12;
}
.description_event {
  margin-left: 7%;
  width: 50.7%;
  height: 7.6%;
  color: white;
}
.Participez {
  color: #f39c12;
}
.flickr {
  margin-left: 63.3%;
  margin-right: 11.7%;
  display: inline-block;
  height: 49.9%;
  width: 29.6%;
}
/** SECTION HOME **/
div#home {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: block;
  padding: 0;
  margin: 0;
  position: fixed;
  overflow: none;
}
section#paris {
  background: url('../img/paris.jpg') no-repeat;
  top: 0;
  left: 0;
  border-right: 1px solid #f39c12;
  border-bottom: 1px solid #f39c12;
}
section#berlin {
  background: url('../img/berlin.jpg') no-repeat;
  top: 0;
  right: 0;
  border-left: 1px solid #f39c12;
  border-bottom: 1px solid #f39c12;
}
section#newyork {
  background: url('../img/ny.jpg') no-repeat;
  bottom: 0;
  left: 0;
  border-right: 1px solid #f39c12;
  border-top: 1px solid #f39c12;
}
section#london {
  background: url('../img/london.jpg') no-repeat center bottom;
  bottom: 0;
  right: 0;
  border-left: 1px solid #f39c12;
  border-top: 1px solid #f39c12;
}
section.city {
  position: absolute;
  z-index: 9;
  background-size: 120% !important;
  background-position: center center;
  cursor: pointer;
}
section.city > a {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 2.065em;
  height: 32px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
section.city.active {
  z-index: 99;
  background-size: 100% !important;
  cursor: default;
  border: none !important;
}
section.city.active > section {
  display: block;
  width: 100%;
  height: 50%;
}
section.city.active div#sidebar {
  display: inline-block;
  vertical-align: top;
  margin-top: 75px;
  width: 0px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  float: left;
}
section.city.active div#sidebar div#sidebarBtn {
  display: block;
  width: 50px;
  height: 100px;
  position: absolute;
  top: 17.5%;
  left: 100%;
  margin-top: -25px;
  background: #f39c12;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 9999;
  cursor: pointer;
}
section.city.active div#sidebar div#sidebarBtn img {
  display: block;
  margin: 0;
}
section.city.active div#sidebar p {
  padding: 5%;
  width: 85%;
  display: none;
  color: lightgray;
  font-size: .9em;
}
section.city.active section.cityIntro {
  position: relative;
  margin-top: 75px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.city.active section.cityIntro h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.875em;
  color: #f39c12;
  text-align: center;
  padding-top: 80px;
  position: relative;
}
section.city.active section.cityIntro h2:after {
  content: " ";
  width: 250px;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
  top: 109%;
  left: 50%;
  margin-left: -125px;
}
section.city.active section.event {
  display: block;
  width: 0px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.city.active section.event ul {
  list-style-type: none;
  position: absolute;
  background-color: #000000;
  bottom: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.city.active section.event ul li {
  display: block;
  width: 140px;
  height: 45px;
  padding: 10px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.city.active section.event ul a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: white;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
section.city.active section.event ul a:visited {
  color: white;
}
section.city.active section.event ul li.selected {
  border-bottom: 3px solid #f39c12;
}
section.city.active section.event ul #create {
  float: right;
}
section.city.active section.event div.eventSlider-wrap {
  overflow-x: scroll;
  overflow-y: none !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider {
  width: 1000%;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article {
  width: 360px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  float: left;
  overflow: hidden;
  position: relative;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 98;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .height {
  height: 100%;
  width: auto;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .width {
  width: 100%;
  height: auto;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .onHover {
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .onHover h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.380em;
  margin-bottom: 0;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .onHover p.date {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  color: #f39c12;
  text-align: center;
  margin-top: 0;
  position: relative;
  width: 120px;
  margin: 0 auto;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .onHover p.date:before {
  content: " ";
  width: 120px;
  height: 1px;
  display: block;
  background-color: #f39c12;
  position: absolute;
  left: 100%;
  top: 9px;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .onHover p.date:after {
  content: " ";
  width: 120px;
  height: 1px;
  display: block;
  background-color: #f39c12;
  position: absolute;
  right: 100%;
  top: 9px;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .onHover p.infos {
  width: 80%;
  display: block;
  margin: 30px auto 0;
  font-size: 0.80em;
  color: lightgrey;
  text-align: center;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .onHover a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: white;
  margin: 20px auto;
  text-decoration: none;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .onHover a:before {
  width: 30px;
  content: "\f067";
  font-family: 'FontAwesome';
  color: black;
  display: block;
  font-size: 1.3em;
  text-align: center;
  line-height: 30px;
}
section.city.active section.event div.eventSlider-wrap.onTop {
  z-index: 10;
}
section.city.active section.event div.eventSlider-wrap.onBottom {
  z-index: 1;
}
.darken {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
/** SUBMIT-EVENT **/
section#form {
  width: 100%;
  height: 100%;
  padding-top: 75px;
  background: url('../../images/back-form.jpg');
  position: absolute;
  z-index: 9999;
}
section#form h2 {
  font-weight: 300px;
  font-size: 26px;
  margin-left: 50px;
}
section#form .close {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 50px;
  text-decoration: none;
}
section#form .close:before {
  width: 30px;
  content: "\f00d";
  font-family: 'FontAwesome';
  color: white;
  display: block;
  font-size: 1.3em;
  text-align: center;
  line-height: 30px;
}
section#form #leftSide {
  display: inline-block;
  vertical-align: top;
  float: left;
}
section#form #leftSide form {
  margin-left: 65px;
  overflow: auto;
  display: inline-block;
  vertical-align: top;
}
section#form #leftSide form label {
  float: left;
  width: 170px;
}
section#form #leftSide form input {
  width: 400px;
  height: 35px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  margin-bottom: 20px;
  margin-right: 30px;
}
section#form #leftSide form input[type="textarea"] {
  height: 230px;
  line-height: 1em;
  margin-bottom: 20px;
}
section#form #rightSide {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
section#form #rightSide h3 {
  padding-left: 10px;
}
section#form #rightSide span {
  margin-right: 250px;
  line-height: 3em;
}
section#form #rightSide div.submitFile {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px;
  cursor: pointer ;
}
section#form #rightSide div.submitFile input {
  height: 100px;
  width: 100px;
  margin: 10px;
  opacity: 0;
  cursor: pointer ;
}
section#form #rightSide div.submitFile:before {
  content: "\f067";
  font-family: 'FontAwesome';
  font-size: 26px;
  line-height: 26px;
  display: block;
  color: #f39c12;
  position: absolute;
  width: 22px;
  height: 26px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
section#form #rightSide input[type="submit"] {
  display: block;
  margin: 30px;
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 15px;
  width: 120px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.85em;
  color: white;
}
section#form #rightSide input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
/* page single-artist */
.single-artist {
  background: url('../img/back_artist.jpg') no-repeat;
  background-color: #000000;
  background-size: 100%;
  width: 100%;
  min-height: 100%;
  position: fixed;
  padding-top: 75px;
}
.single-artist h2 {
  color: #f39c12;
  font-weight: 300;
  display: block;
  margin: 50px;
  margin-left: 0;
  font-size: 1.67em;
}
.single-artist article.artist {
  width: 1000px;
  margin: 0 auto;
}
.single-artist article.artist img.avatar {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: top;
  border: 5px solid #fff;
  margin-right: 50px;
}
.single-artist article.artist .artist-details {
  width: 750px;
  display: inline-block;
  vertical-align: top;
}
.single-artist article.artist .artist-details h3 {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 1.67em;
}
.single-artist article.artist .artist-details p {
  font-size: .85em;
  margin-bottom: 40px;
}
.single-artist article.artist .artist-details #social {
  color: #f39c12;
}
.single-artist article.artist .artist-details #social ul {
  color: #fff;
  margin: 0;
  padding: 0;
  margin-left: 130px;
  margin-top: -25px;
  list-style-type: none;
}
.single-artist article.artist .artist-details #social ul li {
  float: left;
  margin-right: 10px;
}
.single-artist #gallery {
  width: 1000px;
}
.single-artist #gallery ul {
  display: block;
  list-style-type: none;
  height: 120px;
  width: 1000px;
  overflow: hidden;
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -500px;
}
.single-artist #gallery ul li {
  display: block;
  width: 120px;
  height: 120px;
  float: left;
}
.single-artist #gallery ul li img {
  width: 100%;
  height: 100%;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
