div#sidebarBtn {
  display: none !important;
}
section.event ul {
  width: 100% !important;
  min-width: 640px !important;
}
section.event ul li li#create {
  position: relative;
  color: red;
}
.main .eventSlider {
  display: inline-block;
}
.main .eventSlider article {
  clear: left;
}
.friends .eventSlider article {
  clear: left;
  width: 100%;
}
div.eventSlider {
  width: 100% !important;
}
section.city.active {
  width: 100%;
}
section.city.active article {
  width: 100% !important;
}
#berlin section.cityIntro {
  background: url('../img/berlin.jpg');
}
#paris section.cityIntro {
  background: url('../img/paris.jpg');
}
#london section.cityIntro {
  background: url('../img/london.jpg');
}
#newyork section.cityIntro {
  background: url('../img/NY.jpg');
}
.weeklyartist {
  background: #000;
  height: 1000px;
  width: 100%;
  background-size: 100%;
}
.weeklyartist img.avatar {
  border: 5px solid #fff;
  border-radius: 110px;
  margin: 0 auto;
}
.weeklyartist .onHover {
  max-width: 890px;
  padding-left: 230px;
  padding-right: 200px;
}
.weeklyartist .onHover h3 {
  clear: left;
  font-weight: 300;
  font-size: 1.5em;
  margin-left: -170px;
  padding-top: 20px;
}
.weeklyartist .onHover p {
  width: 400px;
  margin-left: -310px;
}
.weeklyartist .onHover #social {
  color: #f39c12;
  position: absolute;
  left: 50%;
  margin-left: -170px;
  margin-top: 20px;
}
.weeklyartist .onHover #social ul {
  color: #fff;
  margin: 0;
  padding: 0;
  margin-left: 130px;
  margin-top: -33px;
}
.weeklyartist .onHover #social ul li {
  float: left;
  margin-right: 6px;
}
