/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Font Face
   ========================================================================== */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/**  Preloader style  **/
body {
  overflow: hidden;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  /* change if the mask should have another color then white */

  z-index: 99;
  /* makes sure it stays on top */

}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */

  top: 50%;
  /* centers the loading animation vertically one the screen */

  background-image: url(../img/status.gif);
  /* path to your loading animation */

  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */

}
/****  Helper class  ****/
.transition {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hidden {
  visibility: hidden;
  display: none;
  opacity: 0;
}
.close {
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  text-decoration: none;
  background: url('../img/close.png') no-repeat;
}
.black {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: black;
  z-index: 100;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-size: 100%;
  color: white;
  line-height: 1.5;
}
body > section {
  display: block;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body > section h2,
body > section h3 {
  margin-top: 0;
}
/**  HEADER  **/
header {
  display: block;
  width: 100%;
  height: 0px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.3em;
  clear: both;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 9999;
}
header h1 {
  margin: 0;
  display: inline-block;
  margin-left: 20px;
  height: 75px;
  width: 150px;
  background: url('../img/logo.png') no-repeat;
  position: relative;
}
header h1 a {
  display: block;
  height: 75px;
  width: 150px;
}
header > a {
  float: right;
  margin-right: 20px;
  line-height: 75px;
  text-decoration: none;
  font-size: .8em;
  color: white;
}
/** SECTION HOME **/
div#home {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: block;
  padding: 0;
  margin: 0;
  position: fixed;
  overflow: none;
  background-color: #000000;
}
section#paris {
  background: url('../img/paris.jpg') no-repeat;
  top: 0;
  left: 0;
  border-right: 1px solid #f39c12;
  border-bottom: 1px solid #f39c12;
}
section#berlin {
  background: url('../img/berlin.jpg') no-repeat;
  top: 0;
  right: 0;
  border-left: 1px solid #f39c12;
  border-bottom: 1px solid #f39c12;
}
section#new-york {
  background: url('../img/ny.jpg') no-repeat;
  bottom: 0;
  left: 0;
  border-right: 1px solid #f39c12;
  border-top: 1px solid #f39c12;
}
section#london {
  background: url('../img/london.jpg') no-repeat center bottom;
  bottom: 0;
  right: 0;
  border-left: 1px solid #f39c12;
  border-top: 1px solid #f39c12;
}
section.city {
  position: absolute;
  z-index: 9;
  background-size: 120% !important;
  background-position: center center;
  cursor: pointer;
}
section.city > a {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 2.065em;
  height: 32px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.audiojs {
  width: 38px;
  height: 38px;
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 999;
  background: none;
}
.audiojs .scrubber,
.audiojs .time {
  display: none;
}
#fancybox-overlay a.close {
  z-index: 99999;
  top: 80px;
  right: 10px;
}
section.city.active {
  z-index: 99;
  background-size: 100% !important;
  cursor: default;
  border: none !important;
}
section.city.active > section {
  display: block;
  width: 100%;
  height: 50%;
}
section.city.active div#sidebar {
  display: inline-block;
  vertical-align: top;
  margin-top: 75px;
  width: 0px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  float: left;
}
section.city.active div#sidebar div#sidebarBtn {
  display: block;
  width: 50px;
  height: 100px;
  position: absolute;
  top: 17.5%;
  left: 100%;
  margin-top: -25px;
  background: #f39c12;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 9999;
  cursor: pointer;
}
section.city.active div#sidebar div#sidebarBtn img {
  display: block;
  margin: 0;
}
section.city.active div#sidebar span {
  display: none;
}
section.city.active div#sidebar span p {
  padding: 5%;
  width: 85%;
  color: lightgray;
  font-size: .9em;
}
section.city.active div#sidebar span h3 {
  font-weight: 200;
  letter-spacing: 1px;
  color: #f39c12;
  width: 200px;
  border: 1px solid #f39c12;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
section.city.active div#sidebar span h3:hover {
  background: #f39c12;
  color: black;
  font-weight: 400;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
section.city.active section.cityIntro {
  margin-top: 75px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.city.active section.cityIntro h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.875em;
  color: #f39c12;
  text-align: center;
  padding-top: 75px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
section.city.active section.cityIntro h2 span {
  width: 220px;
  height: 43px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-bottom: 1px solid white;
}
section.city.active section.event {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.city.active section.event ul {
  list-style-type: none;
  position: absolute;
  background-color: #000000;
  bottom: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.city.active section.event ul li {
  display: block;
  width: 140px;
  height: 45px;
  padding: 10px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.city.active section.event ul a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: white;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
section.city.active section.event ul a:visited {
  color: white;
}
section.city.active section.event ul li.selected {
  border-bottom: 3px solid #f39c12;
}
section.city.active section.event ul #create {
  float: right;
}
section.city.active section.event div.eventSlider-wrap {
  overflow-x: scroll;
  overflow-y: none !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider {
  width: 1000%;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article {
  width: 360px;
  display: inline-block;
  vertical-align: top;
  float: left;
  overflow: hidden;
  position: relative;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article img {
  display: block;
  margin: 0 auto;
  z-index: 98;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .height {
  height: 100%;
  width: auto;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .width {
  width: 100%;
  height: auto;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .onHover {
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .onHover h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.380em;
  margin-bottom: 10px;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .onHover p.date {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  color: #f39c12;
  text-align: center;
  margin-top: 0;
  position: relative;
  width: 120px;
  margin: 0 auto;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .onHover p.date:before {
  content: " ";
  width: 120px;
  height: 1px;
  display: block;
  background-color: #f39c12;
  position: absolute;
  left: 100%;
  top: 9px;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .onHover p.date:after {
  content: " ";
  width: 120px;
  height: 1px;
  display: block;
  background-color: #f39c12;
  position: absolute;
  right: 100%;
  top: 9px;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .onHover p.infos {
  width: 80%;
  display: block;
  margin: 30px auto 0;
  font-size: 0.80em;
  color: lightgrey;
  text-align: center;
}
section.city.active section.event div.eventSlider-wrap div.eventSlider article .onHover a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
section.city.active section.event div.eventSlider-wrap.onTop {
  z-index: 10;
}
section.city.active section.event div.eventSlider-wrap.onBottom {
  z-index: 1;
}
.darken {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
/** SUBMIT-EVENT **/
section#form {
  width: 100% !important;
  height: 100%;
  padding-top: 75px;
  background: url('../../images/back-form.jpg') no-repeat center center fixed;
  position: absolute;
  z-index: 9999;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#form h2 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 26px;
  margin-left: 50px;
}
section#form .close {
  top: 90px;
  right: 20px;
}
section#form form {
  margin-left: 45px;
  overflow: auto;
  display: inline-block;
  vertical-align: top;
}
section#form form #title {
  top: 100px;
  left: 690px;
  width: 130px;
}
section#form form label {
  float: left;
  width: 170px;
}
section#form form input {
  width: 400px;
  height: 35px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  margin-bottom: 20px;
  margin-right: 30px;
  color: white;
  font-weight: 300;
  padding-left: 10px;
}
section#form form input[type="textarea"] {
  height: 230px;
  line-height: 1em;
  margin-bottom: 20px;
}
section#form form input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
section#form ul#submitFile {
  list-style: none;
  position: absolute;
  float: left;
  top: 95px;
  left: 640px;
}
section#form ul#submitFile li {
  float: left;
}
section#form div.submitFile {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px;
  cursor: pointer ;
}
section#form div.submitFile input {
  height: 100px;
  width: 100px;
  margin: 10px;
  opacity: 0;
  cursor: pointer ;
}
section#form div.submitFile:before {
  content: "\f067";
  font-family: 'FontAwesome';
  font-size: 26px;
  line-height: 26px;
  display: block;
  color: #f39c12;
  position: absolute;
  width: 22px;
  height: 26px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
section#form input[type="submit"] {
  display: block;
  margin: 30px;
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 9px;
  width: 120px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.85em;
  color: white;
}
section#form input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
section#form #fromWrap {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
section#form #galleryForm {
  float: right;
}
.single-artist {
  background: url('../img/back_artist.jpg') no-repeat;
  background-color: #000000;
  background-size: 100%;
  width: 100%;
  min-height: 100%;
  position: fixed;
  padding-top: 75px;
}
.single-artist h2 {
  color: #f39c12;
  font-weight: 300;
  display: block;
  margin: 50px;
  margin-left: 0;
  font-size: 1.67em;
}
.single-artist article.artist {
  width: 1000px;
  margin: 0 auto;
}
.single-artist article.artist img.avatar {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: top;
  border: 5px solid #fff;
  margin-right: 50px;
}
.single-artist article.artist .artist-details {
  width: 750px;
  display: inline-block;
  vertical-align: top;
}
.single-artist article.artist .artist-details h3 {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 1.67em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.single-artist article.artist .artist-details p {
  font-size: .85em;
  margin-bottom: 40px;
}
.single-artist article.artist .artist-details #social {
  color: #f39c12;
}
.single-artist article.artist .artist-details #social ul {
  color: #fff;
  margin: 0;
  padding: 0;
  margin-left: 130px;
  margin-top: -25px;
  list-style-type: none;
}
.single-artist article.artist .artist-details #social ul li {
  float: left;
  margin-right: 10px;
}
.single-artist #gallery {
  width: 1000px;
}
.single-artist #gallery ul {
  display: block;
  list-style-type: none;
  height: 120px;
  width: 1000px;
  overflow: hidden;
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -500px;
}
.single-artist #gallery ul li {
  display: block;
  width: 120px;
  height: 120px;
  float: left;
  overflow: hidden;
}
.single-artist #gallery ul li img {
  width: auto;
  height: 100%;
}
/** Single Event **/
.single-event {
  background: url('../img/background_event.jpg') no-repeat;
  background-color: #000000;
  background-size: 100%;
  width: 100%;
  min-height: 100%;
  position: fixed;
  padding-top: 75px;
  overfow: none;
  z-index: 10000;
  position: relative;
}
.single-event a.close {
  left: 50%;
  margin-left: -15px;
  top: 10px;
}
.single-event article.event {
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  margin-top: -233px;
}
.single-event article.event section {
  width: 1000px;
  margin: 0 auto 50px;
  overflow: auto;
}
.single-event article.event section h2 {
  color: #f39c12;
  font-weight: 200;
  margin: 50px 0 40px;
  display: inline-block;
  width: 645px;
  float: left;
  font-size: 1.64em;
  line-height: 1em;
}
.single-event article.event section p {
  width: 645px;
  font-size: .85em;
  line-height: 1.5;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 50px;
}
.single-event article.event section .event-details {
  position: absolute;
  bottom: 55px;
}
.single-event article.event section .event-details ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  width: 350px;
  overflow: auto;
  display: inline-block;
}
.single-event article.event section .event-details ul li {
  font-size: .85em;
}
.single-event article.event section .event-details ul li span {
  color: #f39c12;
  padding-right: 10px;
}
.single-event article.event section .event-details #social {
  display: inline-block;
  overflow: auto;
}
.single-event article.event section .event-details #social ul {
  width: 290px;
  display: block;
}
.single-event article.event section .event-details #social ul li {
  display: inline-block;
  float: left;
  overflow: auto;
  padding-right: 10px;
}
.single-event article.event section #gallery {
  width: 354px;
  height: 360px;
  overflow: hidden;
  display: inline-block;
  margin-top: 50px;
}
.single-event article.event section #gallery ul {
  width: 354px;
  height: 232px;
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.single-event article.event section #gallery ul li {
  display: inline-block;
  width: 118px;
  height: 180px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #f39c12;
  overflow: hidden;
}
.single-event article.event section #gallery ul li img {
  height: 100%;
}
/* PARTICIPEZ */#participez {
  width: 100%;
  height: 1000px;
  padding-top: 75px;
}
#participez header {
  background: #000000;
}
#participez .button {
  width: 150px;
  background: #f39c12;
  padding: 10px 0;
  color: #fff;
  margin: 50px auto;
  display: block;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
#participez input {
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 3px;
}
#participez #description {
  width: 300px;
  height: 200px;
}
#participez .info-wrap {
  width: 100%;
  background: #000000;
}
#participez .info-wrap .info {
  width: 1000px;
  margin: 0 auto;
  overflow: auto;
  background: #000000;
}
#participez .info-wrap .info h1 {
  color: #f39c12;
  font-weight: 200;
}
#participez .info-wrap .info p {
  line-height: 1.5;
  font-size: .85em;
}
#participez #form-wrap {
  width: 100%;
  height: auto;
  overflow: auto;
  background: #181818;
}
#participez #form-wrap .form {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
#participez #form-wrap .form h2 {
  padding-top: 50px;
  color: #f39c12;
  font-weight: 200;
}
#participez #form-wrap form {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  vertical-align: top;
}
#participez #form-wrap .formInnerWrap {
  float: left;
  width: 580px;
  display: inline-block;
}
#participez #form-wrap .formInnerWrap label {
  display: inline-block;
  vertical-align: baseline;
  width: 160px;
  height: 30px;
  font-size: 0.85em;
}
#participez #form-wrap .formInnerWrap label[for="description"] {
  vertical-align: top;
}
#participez #form-wrap .formInnerWrap input:not([type="submit"]) {
  border: none;
  display: inline-block;
  vertical-align: baseline;
  width: 350px;
  background: rgba(255, 255, 255, 0.5);
  margin-left: 0;
}
#participez #form-wrap .formInnerWrap ul {
  padding-left: 0px;
}
#participez #form-wrap .formInnerWrap ul li {
  padding-left: 0;
  list-style-type: none;
  display: inline-block;
}
#participez #form-wrap .formInnerWrap ul li:first-child {
  margin-right: 60px;
}
#participez #form-wrap .formInnerWrap ul li input {
  width: 100px !important;
  margin: 0 20px;
}
#participez #form-wrap input[type="submit"] {
  border: none;
  display: inline-block;
  float: right;
}
#participez #form-wrap #img-right {
  width: 387px;
  display: inline-block;
  vertical-align: top;
  float: right;
}
#participez #form-wrap div.submitFile {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 10px;
  cursor: pointer ;
}
#participez #form-wrap div.submitFile:first-child,
#participez #form-wrap div.submitFile:nth-child(4) {
  margin-left: 0;
}
#participez #form-wrap div.submitFile input {
  height: 100px;
  width: 100px;
  margin: 10px;
  opacity: 0;
  cursor: pointer ;
}
#participez #form-wrap div.submitFile:before {
  content: "\f067";
  font-family: 'FontAwesome';
  font-size: 26px;
  line-height: 26px;
  display: block;
  color: #f39c12;
  position: absolute;
  width: 22px;
  height: 26px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
/* Artist of the week */
#artistWinner {
  background: url('../img/back_Banksy.png') no-repeat center top;
  height: 550px;
  width: 100%;
  padding-top: 125px;
  position: relative;
}
#artistWinner .winner {
  width: 1000px;
  margin: 0 auto;
}
#artistWinner h1,
#artistWinner h2,
#artistWinner h3 {
  font-size: 1.6em;
  font-weight: 200;
}
#artistWinner h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 0;
  line-height: 1em;
  padding-left: 245px;
}
#artistWinner img.pp {
  float: left;
  border-radius: 100%;
  border: 4px solid #fff;
}
#artistWinner p {
  font-size: .85em;
  width: 650px;
  line-height: 1.5;
  padding-left: 245px;
}
#artistWinner .seeMore {
  margin-top: 22px;
  padding-left: 40px;
  text-decoration: none;
  color: #f39c12;
  font-size: 1em;
}
#artistWinner #galleryWinner {
  display: block;
  width: 1000px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -500px;
}
#artistWinner #galleryWinner ul {
  list-style-type: none;
  padding-left: 0;
  width: 1000px;
  height: 100px;
  display: block;
  overflow: hidden;
  margin: 0;
}
#artistWinner #galleryWinner ul li {
  float: left;
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
}
#artistWinner #galleryWinner ul li img {
  height: 100%;
}
#artists-list {
  width: 1000px;
  margin: 0 auto;
}
#artists-list h2 {
  margin: 50px 0;
  color: #000000;
  font-size: 1.6em;
  font-weight: 200;
}
#artists-list ul {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
#artists-list ul li {
  float: left;
  width: 250px;
  margin-left: 125px;
  margin-bottom: 50px;
  color: #000000;
  text-align: center;
}
#artists-list ul li:first-child,
#artists-list ul li:nth-child(4),
#artists-list ul li:nth-child(7),
#artists-list ul li:nth-child(10) {
  margin-left: 0px;
}
#artists-list ul li img {
  max-width: 250px;
  border-radius: 100%;
}
#artists-list ul li .name {
  margin-bottom: 0;
}
#artists-list ul li .vue,
#artists-list ul li .like {
  padding-left: 30px;
  font-size: 0.85em;
  float: left;
}
#artists-list ul li .vue {
  background: url('../img/vue.png') no-repeat 0px 6px;
  padding-right: 15px;
  margin-left: 65px;
}
#artists-list ul li .like {
  background: url('../img/like.png') no-repeat 0px 4px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  #home {
    position: none;
  }
  section#paris {
    float: left;
  }
  section#paris .cityIntro {
    background: url('../img/paris.jpg') no-repeat;
  }
  section#new-york {
    float: left;
  }
  section#new-york .cityIntro {
    background: url('../img/NY.jpg') no-repeat;
  }
  section#berlin {
    float: left;
  }
  section#berlin .cityIntro {
    background: url('../img/berlin.jpg') no-repeat;
  }
  section#london {
    float: left;
  }
  section#london .cityIntro {
    background: url('../img/london.jpg') no-repeat;
  }
  div#sidebarBtn {
    margin-top: -105px !important;
  }
  section.event ul {
    width: 100% !important;
    min-width: 640px !important;
  }
  section.event ul li #create {
    float: none;
  }
  .main .eventSlider {
    display: inline-block;
  }
  .main .eventSlider article {
    clear: left;
  }
  .friends .eventSlider article {
    clear: left;
  }
  div.eventSlider {
    width: auto !important;
  }
  .single-event a.close {
    left: 50%;
    margin-left: -15px;
    top: 10px;
  }
  .single-event article.event {
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    margin-top: -233px;
  }
  .single-event article.event section {
    width: 1000px;
    margin: 0 auto 50px;
    overflow: auto;
  }
  .single-event article.event section p {
    width: 100%;
  }
}
